{% extends 'base-admin.html.twig' %}

{% block title %}Edition du panier{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Edition du panier</h1>

    {{ include('cart/_form.html.twig', {'button_label': 'Valider'}) }}

    <a class="btn btn-primary" role="button" href="{{ path('cart_index') }}">Retour à la liste panier</a>
</div>    
{% endblock %}
