{% extends 'base-admin.html.twig' %}

{% block title %}Nouveau panier{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Création d'un nouveau panier</h1>

    {{ include('cart/_form.html.twig') }}

    <a class="btn btn-primary" role="button" href="{{ path('cart_index') }}">Retour à la liste</a>
</div>    
{% endblock %}
