{% extends 'base-admin.html.twig' %}

{% block title %}Connexion Admin{% endblock %}

{% block body %}
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header" style="background-color: #2FB5F4; color: white;"><h3 class="text-center font-weight-light my-4">Connexion Admin</h3></div>
                                    <div class="card-body">
                                        <form method="post">
                                        {% if error %}
                                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                        {% endif %}
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputEmailAddress">Email</label>
                                                <input class="form-control py-4" id="inputEmailAddress" type="email" name="email" placeholder="Entrer votre addresse mail" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputPassword">Mot de passe</label>
                                                <input class="form-control py-4" id="inputPassword" type="password" name="password" placeholder="Entrer votre mot de passe" required/>
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" name="_remember_me"/>
                                                    <label class="custom-control-label" for="rememberPasswordCheck">Se rappeler de moi</label>
                                                    
                                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                                    
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center justify-content-center">
                                                <button class="btn btn-lg" style="background-color: #2FB5F4; color: white;" type="submit">Connexion</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex justify-content-center">
                            <div class="text-muted">Copyright &copy; Lauralee, Daria, Stéphane, David</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>  
{% endblock %}
