{% extends 'base.html.twig' %}

{% block title %}E-commerce-Bieres{% endblock %}

{% block body %}
    <h1>Bienvenue !</h1>
    <a href="{{ path('products_index') }}">Aller aux produits</a>
{% endblock %}
