<h1>Merci de confirmer votre e-mail</h1>

<p>
    Merci de confirmer votre e-mail en cliquant sur le lien ci-dessous : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
    Ce lien expirera dans {{ expiresAt|date('g') }} heure(s).
</p>
