/* Généralités */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
}

.bouton{
    color: white;
    background-color: #2FB5F4;
}
/* Fin Généralités */

/* header */
.navbar{
    height: 100px;
    background: url("../Css/images/Biere_mousse.jpg") center;
    align-content: center;
}

.cat{
    color: white;
    background-color: #2FB5F4;
}

.liste {
    display: flex;
    list-style-type: none;
}
/* Fin header */

/* Slider */

.slider {
    position: relative;
}

.slider img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

/* Flèche gauche */
.la-chevron-circle-left{
    color:#2FB5F4;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 3em;
}
/* Flèche droite */
.la-chevron-circle-right{
    color: #2FB5F4;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 3em;
}

/* Ronds de sélection */
.la-dot-circle, .la-circle{
    color: #2FB5F4;
    background-color: white;
    border-radius: 50%;
}

.circle {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); 
    font-size: 1.5em;
}

/* Fin Slider */

/* Services */
.services {
    width: 80%;
    margin: auto;
}

/* Fin Services */

/* Main */
main section {
    width: 80%;
    margin: auto;
}

main section h1{
    color : #646464; 
}

main section h2{
    color : white;
    background-color: #2FB5F4;
}

/* Section En ce moment */
.newProducts > div {
   display: flex;
}

/* Fin Section En ce moment */

/* Section Les meilleures ventes */

    
/* Fin Section Les meilleures ventes */

/* footer */
.footer-contact{
    color: white;
    background-color: #232323;
}

.footer-contact i{
    font-size: 1.5em;
}

.copyright{
    color: white;
    background-color:#2FB5F4 ;
}

/* fin footer */
