/* Généralités */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: #f9f9f9;
    color : #646464; 
}

a {
    color : #646464; 
}

.bouton{
    color: white;
    background-color: #2FB5F4;
}

h1{
    font-weight: bold;
}

h2{
    color : white;
    background-color: #2FB5F4;
}

/* Fin Généralités */

/* header */
.navbar{
    height: 100px;
    background: url("../Css/images/Biere_mousse.jpg") center;
    background-size: cover;
    align-content: center;
}

.cat{
    color: white;
    background-color: #2FB5F4;
}

.liste {
    display: flex;
    list-style-type: none;
}
/* Fin header */

/*Page Index*/
/* Slider */

.slider {
    position: relative;
}

.slider img {
    width: 100%;
    max-height: 70vh;
    object-fit: cover;
}

/* Flèche gauche */
.la-chevron-circle-left{
    color:#2FB5F4;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 3em;
}
/* Flèche droite */
.la-chevron-circle-right{
    color: #2FB5F4;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 3em;
}

/* Ronds de sélection */
.la-dot-circle, .la-circle{
    color: #2FB5F4;
    background-color: white;
    border-radius: 50%;
}

.circle {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); 
    font-size: 1.5em;
}

/* Fin Slider */

/* Services */
.services {
    width: 80%;
    margin: auto;
}

/* Fin Services */

/* Main */
main section {
    width: 80%;
    margin: auto;
}


/* Section En ce moment */
.newProducts > div {
   display: flex;
}

.ligneBleu {
    height: 5px;
    background-color: #2FB5F4;
}

/* Fin Section En ce moment */

/* Section Les meilleures ventes */

    
/* Fin Section Les meilleures ventes */

/*Fin Page Index*/

/*Page détails produits*/
.alert {
    display: inline-block;
}

.bloc {
    display: inline-block;
     background-color: white;
     border: 1px solid #e6e6e6;
     border-radius: 30px;
     padding: 10px;
}

.blocPrix {
    background-color: white;
     border: 1px solid #e6e6e6;
     border-radius: 8px;
     padding: 20px;
     text-align: center;
     margin-bottom: 16px;
}

.blocPrix > p{
    margin : 0;
    font-size: 22px;
}
/*Fin Page détails produits*/

/* footer */
.footer-contact{
    color: white;
    background-color: #232323;
}

.footer-contact i{
    font-size: 1.5em;
}

.copyright{
    color: white;
    background-color:#2FB5F4 ;
}

/* fin footer */
