{% extends 'base-admin.html.twig' %}

{% block title %}Ajout d'un article de vente{% endblock %}

{% block body %}


    <main id="layoutSidenav_content">

        <div class="container-fluid">
        
            <ul class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">Dashboard</a></li>
                <li class="breadcrumb-item active">Produits</li>
            </ul>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-beer"></i>
                    Ajouter un produit
                </div>
                <div class="card-body">

                    {{ include('products/_form.html.twig') }}

                </div>

            </div>
        </div>
        
    </main>

</div>




{% endblock %}
