<form class="form-group" method="post" action="{{ path('volumes_delete', {'id': volume.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer ce volume de la base de données ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ volume.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
