{% extends 'base.html.twig' %}

{% block title %}New Volumes{% endblock %}

{% block body %}
    <h1>Create new Volumes</h1>

    {{ include('volumes/_form.html.twig') }}

    <a href="{{ path('volumes_index') }}">back to list</a>
{% endblock %}
