{% extends 'base-admin.html.twig' %}

{% block title %}Ajout d'une nouvelle catégorie en bdd{% endblock %}

{% block body %}
<div class="p-5">
    <a class="btn btn-primary float-right" href="{{ path('categories_index') }}">Retour à la liste des catégories</a>
    <h1>Ajout d'une nouvelle catégorie en bdd</h1>

    {{ include('categories/_form.html.twig') }}

</div>


    
{% endblock %}
