<form method="post" action="{{ path('flavors_delete', {'id': flavor.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer cete saveur de la base de données ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ flavor.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
