{% extends 'base-admin.html.twig' %}

{% block title %}Ajout d'une nouvelle saveur en bdd{% endblock %}

{% block body %}    

<div class="p-5">
    <a class="btn btn-primary float-right" href="{{ path('flavors_index') }}">Retour à liste des saveurs</a>
    <h1>Ajout d'une nouvelle saveur en bdd</h1>

    {{ include('flavors/_form.html.twig') }}

</div>



{% endblock %}
