{% extends 'base.html.twig' %}

{% block title %}Modifier les commentaires{% endblock %}

{% block body %}
    <h1>Modifier les commentaires</h1>

    {{ include('comments/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('comments_index') }}">retour à la liste</a>

    {{ include('comments/_delete_form.html.twig') }}
{% endblock %}
