{% extends 'base.html.twig' %}

{% block title %}Edit Orders{% endblock %}

{% block body %}
    <h1>Edition de commande</h1>

    {{ include('orders/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('orders_index') }}">Retour à la liste</a>

    {{ include('orders/_delete_form.html.twig') }}
{% endblock %}
