{% extends 'base.html.twig' %}

{% block title %}New Orders{% endblock %}

{% block body %}
    <h1>Création d'une nouvelle commande</h1>

    {{ include('orders/_form.html.twig') }}

    <a href="{{ path('orders_index') }}">Retour à la liste</a>
{% endblock %}
