{% extends 'base-admin.html.twig' %}

{% block title %}Nouvelle commande{% endblock %}

{% block body %}
    <!-- Début du main -->
    <main id="layoutSidenav_content">
        <div class="container-fluid">

            <ul class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">Dashboard</a></li>
                <li class="breadcrumb-item active">Commandes</li>
            </ul>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-dolly mr-1"></i>
                    Ajout d'une nouvelle commande
                </div>
                <div class="card-body">

                    {{ include('orders/_form.html.twig') }}

                    <a class="btn btn-primary" role="button" href="{{ path('orders_index') }}">Retour à la liste</a>
                </div>
            </div>
        </div>    
    </main>
</div>            
{% endblock %}
