{% extends 'base.html.twig' %}

{% block title %}Edition d'un utilisateur{% endblock %}

{% block body %}

    <a href="{{ path('users_index') }}" class="btn btn-primary mb-3">Retour aux utilisateurs</a>

    {{ include('users/_form.html.twig') }}

{% endblock %}
