{% extends 'base-admin.html.twig' %}

{% block title %}Edition d'un utilisateur{% endblock %}

{% block body %}

    <!-- Début du main -->
    <main id="layoutSidenav_content">
        <div class="container-fluid">

            <ul class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">Dashboard</a></li>
                <li class="breadcrumb-item active">Utilisateurs</li>
            </ul>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-user-cog"></i>
                    Modification d'un utilisateur
                </div>
                <div class="card-body">

                    <a href="{{ path('users_index') }}" class="btn btn-primary mb-3">Retour aux utilisateurs</a>

                    {{ include('users/_form.html.twig') }}
                </div>
            </div>
        </div>
    </main>
</div>                    

{% endblock %}
